# Node
node_modules/
.npm/
pnpm-lock.yaml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo
/dist/
/build/
/coverage/
/.tmp/

# Env
.env
.env.*

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editors/IDE
.vscode/
.idea/

# Logs
*.log

# Claude
.claude/
